<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Post</title>
</head>
<body>
    <h3>Post id : <%= post.id %></h3>
    <h3>Username : @<%= post.username %></h3>
    <form method="post" action="http://localhost:1110/posts/<%= post.id%>/edit?_method=PATCH">
        <textarea name="content" placeholder="<%= post.content %>"></textarea><br>
        <button>Submit</button>
    </form>
</body>
</html>