<% layout("/layout/boilerplate") %>
<body>
    <h3>Post id : <%= newPost.id %></h3>
    <h3>Username : @<%= newPost.username %></h3>
    <form method="post" action="/posts/<%= newPost.id%>/edit?_method=PATCH">
        <textarea name="content" placeholder="<%= newPost.content %>"></textarea><br>
        <button>Submit</button>
    </form>
</body>
</html>