<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Post</title>
</head>
<body>
    <h2>Create a New Post</h2>
    
    <form method="post" action="/posts/new">
      <input name="username" placeholder="enter username"><br><br>
      <input name="content" placeholder="Write here"><br><br>
      <button>Submit</button>
    </form>
</body>
</html>