body{
    background-color: black;
    color:antiquewhite;
    display: block;
    display: flex;
   
    align-items: center;
    flex-direction: column;
    margin-left: 500px;
    margin-right: 500px;
    
}

.like{
   display: flex ;
   flex-direction: row;
  
  
    
}

#like{
    width: 50px !important;
    height: 40px;
    padding: 5px;
    margin-left: 10px ;
}